.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset {
  display: flex;
  justify-content: center;
  gap: 12px;
  border: none; 
}

.input {
  width: 380px;
}

.buttons {
  display: flex;
  gap: 12px;  
}

.button {
  width: 120px;
}

.buttonClear {
  padding-left: 50px;
}

.queue {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 16px;
}
